#includes:
#    - phpstan-baseline.neon
parameters:
    exceptions:
        check:
            missingCheckedExceptionInThrows: false
        reportUncheckedExceptionDeadCatch: false
    reportUnmatchedIgnoredErrors: true
    editorUrl: "phpstorm://open?file=%%file%%&line=%%line%%"
    dynamicConstantNames:
      - CONSOLE
      - YII_DEBUG
    level: 9
    paths:
      - src
    checkMaybeUndefinedVariables: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # All Yii setters accept `null` but their phpdoc is incorrect.
#        - message: '~^Parameter #1 \$(.+) of method yii\\web\\Request::set(.+)\(\) expects (.+), null given.$~'
#          path: 'src/'
        # If you want to ignore missing generics errors in the future, you can add:
        # - identifier: missingType.generics
    stubFiles:
        - tests/Yii.stub
